/*** 
=============================================
    Banner rotation Css
=============================================
***/


@keyframes banner_rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}




/*** 
=============================================
    Float Bob X Animation Css
=============================================
***/
@keyframes float-bob-x {
  0% {
    transform: translateX(-30px);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(-30px);
  }
}

@keyframes float-bob-x {
  0% {
    transform: translateX(-30px);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(-30px);
  }
}

.float-bob-x {
  -webkit-animation-name: float-bob-x;
  animation-name: float-bob-x;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
/*** 
=============================================
    Float Bob Y Animation Css
=============================================
***/
@keyframes float-bob-y {
  0% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(-30px);
  }
}

@keyframes float-bob-y {
  0% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(-30px);
  }
}

.float-bob-y {
  -webkit-animation-name: float-bob-y;
  animation-name: float-bob-y;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

/* progressbar */

@keyframes animate-positive{
    0% { width: 0%; }
}
@keyframes animate-positive{
    0% { width: 0%; }
}
/* progressbar */